.shadowInventory{
  padding-left: 2vw;
  padding-top: 1vw;
  padding-bottom: 3vw;
  margin-top: -2vw;
  margin-bottom: 2vw;
  width: 75%;
  margin-right: 11vw;
  margin-left: -35vw;
  background-color: #1A535C;
  border-style: solid;
  border-color: #3A3A3A;
  box-shadow: .5px .5px 10px 10px #5B5B5B;
}

.inventory {
  height: 12vw;
  padding-left: 2vw;
  /* width: 100%; */
  overflow-y: scroll;
  color: white;
}

.button {
  background-color: #1B998B;
  border: 2px solid;
  border-radius: 8px;
  height: 40px;
  font-weight: bold;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.scroll {
  overflow-y: scroll;
}

.underline {
  text-decoration: underline;
}

.inverseText {
  color: black
}

.pointer {
  cursor: pointer;
}

.textLead {
  text-shadow: -1px -1px 0 #001,
    1px -1px 0 #001,
    -1px 1px 0 #001,
    1px 1px 0 #001;
  text-decoration: underline;
  color: #9EA3B0;
}
