.textLead {
  text-shadow: -1px -1px 0 #001,
    1px -1px 0 #001,
    -1px 1px 0 #001,
    1px 1px 0 #001;
  text-decoration: underline;
  color: #9EA3B0;
}

.notesContainer {
  /* border-style: dashed; */
  /* border-color: purple; */
  /* margin-top: -7px;
  margin-left: 1vw;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  border: 1px solid #ccc;
  width: 30vw;
  height: 23vw;
  background-color: #1A535C; */
  /* border-style: solid; */
  /* border-color: #3A3A3A; */
  /* box-shadow: .5px .5px 10px 10px #5B5B5B; */
}

.notesList {
  height: 11vw;
  margin-top: 1vw;
  overflow-y: scroll;
  /* margin-bottom: -.7vw; */
}

.button {
  background-color: #1B998B;
  border: 2px solid;
  border-radius: 8px;
  height: 40px;
  font-weight: bold;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.inverseText {
  color: black
}

.blue {
  color: #3B6C7B
}

.pointer {
  cursor: pointer;
}

textarea{
  height: 4.5vw;
  width: 3vw;
}
