.shadowProjects {
  /* padding-left: 1vw;
  padding-top: 1vw;
  padding-bottom: 2.5vw;
  margin-top: -2vw;
  margin-bottom: 2vw;
  margin-right: 3vw;
  width: 43vw;
  background-color: #1A535C;
  border-style: solid;
  border-color: #3A3A3A;
  box-shadow: .5px .5px 10px 10px #5B5B5B;
  align-items: center; */
}
.sortGrid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  /* border-style: dashed; */
  /* border-color: green */
}

.sortbuttonName{
  width: 5.5vw;
  background-color: #1B998B;
  border: 2px solid;
  border-radius: 8px;
  height: 3vw;
  font-weight: bold;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  margin: 1vw;
  margin-left: 10vw;
  font-size: .6em;
}

.sortbuttonDate{
  width: 5vw;
  background-color: #1B998B;
  border: 2px solid;
  border-radius: 8px;
  height: 3vw;
  font-weight: bold;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  margin: 1vw;
  margin-left: 4vw;
  font-size: .6em;
}

.projects {
  height: 10vw;
  overflow-y: scroll;
  color: white;
}

.button {
  background-color: #1B998B;
  border: 2px solid;
  border-radius: 8px;
  height: 40px;
  font-weight: bold;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.textLead {
  text-shadow: -1px -1px 0 #001,
    1px -1px 0 #001,
    -1px 1px 0 #001,
    1px 1px 0 #001;
  text-decoration: underline;
  color: #9EA3B0;
}

.textAll {
  font-size: 1em;
  text-shadow: -1px -1px 0 #001,
  1px -1px 0 #001,
  -1px 1px 0 #001,
  1px 1px 0 #001;
  color: white;
}
