.startDate {
  position:absolute;
  padding-top: .7vw;
  padding-bottom: .5vw;
  padding-left: .5vw;
  padding-right: .5vw;
  height: 3.5vw;
  width: 20vw;
  margin-left: 2vw;
  /* margin-right: 3vw; */
  margin-top: -2vw;
  border: .1vw solid #ccc;
  background-color: #1A535C;
  border-style: solid;
  border-color: #3A3A3A;
  /* box-shadow: .5px .1px 10px 10px #5B5B5B; */
  border-color: white;
  border-width: .1;
  font-size: 1rem;
  font-weight: bold;
}

.dueDate {
  position:absolute;
  height: 3.5vw;
  width: 20vw;
  padding-top: .7vw;
  padding-bottom: .5vw;
  padding-left: .5vw;
  padding-right: .5vw;
  /* margin-left: 6vw; */
  /* margin-right: 5vw; */
  margin-top: -2vw;
  border: .1vw solid #ccc;
  background-color: #1A535C;
  border-style: solid;
  border-color: #3A3A3A;
  /* box-shadow: .5px .1px 10px 10px #5B5B5B; */
  border-color: white;
  border-width: .1;
  font-size: 1rem;
  font-weight: bold;
}

.projectName {
  position:absolute;
  background-color: #1A535C;
  border-style: solid;
  border-color: #3B6C7B;
  padding-top: 1vw;
  padding-bottom: 1vw;
  margin-left: 6.25vw;
  margin-right: 6.25vw;
  margin-top: -.7vw;
  height: 12vw;
  /* box-shadow: .5px .1px 10px 10px #5B5B5B; */
  border-color: white;
  border-width: .1;
  border: 1px solid #ccc;
}

.budget {
  position:absolute;
  height: 3.5vw;
  width: 20vw;
  padding-top: .7vw;
  padding-bottom: .5vw;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 2vw;
  margin-right: 70px;
  margin-top: -30px;
  border: 1px solid #ccc;
  background-color: #1A535C;
  border-style: solid;
  border-color: #3A3A3A;
  /* box-shadow: .5px .1px 10px 10px #5B5B5B; */
  border-color: white;
  border-width: .1;
  font-size: 1rem;
  font-weight: bold;
}

.remainingBudget {
  position:absolute;
  height: 3.5vw;
  width: 20vw;
  padding-top: .7vw;
  padding-bottom: .5vw;
  padding-left: 10px;
  padding-right: 10px;
  /* margin-left:6vw; */
  /* margin-right: 5vw; */
  margin-top: -30px;
  border: 1px solid #ccc;
  background-color: #1A535C;
  border-style: solid;
  border-color: #3A3A3A;
  /* box-shadow: .5px .1px 10px 10px #5B5B5B; */
  border-color: white;
  border-width: .1;
  font-size: 1rem;
  font-weight: bold;
}

.deleteButton {
  margin-left: 70px;
}

.pointer {
  cursor: pointer;
}

.textAll {
  font-size: 1em;
  text-shadow: -1px -1px 0 #001,
  1px -1px 0 #001,
  -1px 1px 0 #001,
  1px 1px 0 #001;
  color: white;
}

.noteBox{
  /* border-style: dashed;
  border-color: green; */
  margin-top: -7px;
  margin-left: 1vw;
  padding: 1vw;
  padding-top:.7vw;
  border: 1px solid #ccc;
  width: 30vw;
  height: 23vw;
  background-color: #1A535C;
}

.todoBox{
  margin-top: -7px;
  margin-left: 2.3vw;
  padding: 1vw;
  padding-top:.7vw;
  padding-bottom: .7vw;
  border: 1px solid #ccc;
  width: 30vw;
  height: 23vw;
  background-color: #1A535C;
}

.materialsBox{
  margin-top: -7px;
  margin-left: -2.5vw;
  /* margin-right: 3vw; */
  padding: 1vw;
  padding-top:.7vw;
  padding-bottom: .7vw;
  border: 1px solid #ccc;
  width: 30vw;
  height: 23vw;
  background-color: #1A535C;
}
