
.header {
  font-family: 'Gloria Hallelujah', cursive;
}
.icon{
  color: white;
  font-size: xx-large;
  text-shadow: 3px 2px #0A0806;
}

.box {
  border-color: black
}

.done {
  color: #BF1641;
  /* font-weight: bold; */
  text-decoration: line-through;
  text-shadow: -1px -1px 0 #001,
    1px -1px 0 #001,
    -1px 1px 0 #001,
    1px 1px 0 #001;
}

.undone {
  color: white;
  /* font-style: oblique; */
  /* font-weight: bold; */
  text-shadow: -1px -1px 0 #001,
    1px -1px 0 #001,
    -1px 1px 0 #001,
    1px 1px 0 #001;
}

.look {
  border-style: dotted;
  border-color: green
}

.gallerycard {
  object-fit: cover;
}

.inventory {
  padding-left: 50px;
  height: 200px;
  width: 100%;
  overflow-y: scroll;
}

.projects {
  margin-right: 50px;
  height: 140px;
  width: 100%;
  overflow-y: scroll;
  color: white;
}

.textAll {
  text-shadow: -1px -1px 0 #001,
		1px -1px 0 #001,
		-1px 1px 0 #001,
		1px 1px 0 #001;
  color: white;
}

.materials {
  margin-right: 50px;
  padding-left: 50px;
  height: 200px;
  width: 100%;
  margin-right: 100px;
  color: white;
  text-shadow: -1px -1px 0 #001,
		1px -1px 0 #001,
		-1px 1px 0 #001,
		1px 1px 0 #001;
}

.projectContainer {
  margin-right: 200px
}

.mainGalleryButton {
  height: 200px;
  background-color: #1B998B;
  border-color: black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.shadowGallery {
  padding-left:0px;
  padding-right: 0px;
  padding-top: 15px;
  padding-bottom: 30px;
  margin-bottom: 45px;
  margin-left: -251px;
  margin-right: -251px;
  overflow-y: scroll;
  background-color: #1A535C;
  border-style: solid;
  border-color: #3A3A3A;
  box-shadow: .5px .5px 10px 10px #5B5B5B;
}

.deleteButton {
  margin-left: 70px;
}

.shadowProjects {
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 30px;
  margin-bottom: 45px;
  margin-left: 150px;
  margin-right: 50px;
  background-color: #1A535C;
  border-style: solid;
  border-color: #3A3A3A;
  box-shadow: .5px .5px 10px 10px #5B5B5B;
}

.shadowInventory{
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 30px;
  margin-bottom: 75px;
  margin-right: 150px;
  margin-left: 50px;
  background-color: #1A535C;
  border-style: solid;
  border-color: #3A3A3A;
  box-shadow: .5px .5px 10px 10px #5B5B5B;
}

.maincontainer {
  margin-left: 300px;
  display: flex;
  justify-content: center;
}

.card {
  width: 200px;
  height: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.button {
  background-color: #1B998B;
  border: 2px solid;
  border-radius: 8px;
  height: 40px;
  font-weight: bold;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.prev, .next {
  cursor: pointer;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.finishedButton {
  height: 640px;
}

.researchButton {
  height: 120px;
  background-color: #1B998B;
  border-color: black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.finishedgallery.img {
  width: 100%;
  height: auto;

}

.finishedgallery {
  margin: 5px;
  border: 1px solid #ccc;
  /* float: left; */
  width: 180px;
  background-color: #1A535C;
  border-style: solid;
  border-color: #3A3A3A;
  box-shadow: .5px .5px 10px 10px #5B5B5B;
}

.centered {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.finishedimg {
    position: relative;
    float: left;
    width: 200px;
    height: 200px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    object-fit: scale-down;
    overflow-y: hidden;
}

.showimg {
  position: relative;
  float: left;
  width: 200px;
  height: 100px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
  object-fit: scale-down;
  overflow-y: hidden;
}

.showmodal {
  position: relative;
  /* float: left; */
  width: 400px;
  height: 300px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
  object-fit: scale-down;
  overflow-y: hidden;
}

.researchContainer{
  margin-top: 30px;
  margin-left: 75px;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 10px;
  border: 1px solid #ccc;
  width: 800px;
  background-color: #1A535C;
  border-style: solid;
  border-color: #3A3A3A;
  box-shadow: .5px .5px 10px 10px #5B5B5B;
}

.processContainer{
  margin-top: 30px;
  margin-right: 75px;
  margin-bottom: 30px;
  margin-left: -50px;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 10px;
  border: 1px solid #ccc;
  width: 800px;
  height: 215px;
  background-color: #1A535C;
  border-style: solid;
  border-color: #3A3A3A;
  box-shadow: .5px .5px 10px 10px #5B5B5B;
}

.notesContainer {
  margin-left: 57px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  border: 1px solid #ccc;
  width: 500px;
  height: 340px;
  background-color: #1A535C;
  border-style: solid;
  border-color: #3A3A3A;
  box-shadow: .5px .5px 10px 10px #5B5B5B;
}

.notesList {
  height: 154px;
  overflow-y: scroll;
}

.toDoListContainer {
  margin-left: 85px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  border: 1px solid #ccc;
  width: 500px;
  height: -300;
  background-color: #1A535C;
  border-style: solid;
  border-color: #3A3A3A;
  box-shadow: .5px .5px 10px 10px #5B5B5B;
}

.toDoListList {
  overflow-y: scroll;
  height: 185px;
}

.toDoListHeader{
  height: 60px;
}

.materialsContainer {
  margin-right: 50px;
  padding-left: 60px;
  padding-right: 30px;
  padding-top: 20px;
  border: 1px solid #ccc;
  width: 500px;
  height: -300;
  background-color: #1A535C;
  border-style: solid;
  border-color: #3A3A3A;
  box-shadow: .5px .5px 10px 10px #5B5B5B;
}

.materialList {
  overflow-y: scroll;
  height: 145px;
}

.startDate {
  position:absolute;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  height: 45px;
  margin-left: 60px;
  margin-right: 150px;
  margin-top: -20px;
  border: 1px solid #ccc;
  background-color: #1A535C;
  border-style: solid;
  border-color: #3A3A3A;
  box-shadow: .5px .5px 10px 10px #5B5B5B;
}

.dueDate {
  position:absolute;
  height: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 320px;
  margin-right: 60px;
  margin-top: -20px;
  border: 1px solid #ccc;
  background-color: #1A535C;
  border-style: solid;
  border-color: #3A3A3A;
  box-shadow: .5px .5px 10px 10px #5B5B5B;
}

.projectName {
  position:absolute;
  background-color: #1A535C;
  border-style: solid;
  border-color: #3B6C7B;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 120px;
  margin-top: -20px;
  box-shadow: .5px .5px 10px 10px #5B5B5B;
  border: 1px solid #ccc;
}

.budget {
  position:absolute;
  height: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: -20px;
  border: 1px solid #ccc;
  background-color: #1A535C;
  border-style: solid;
  border-color: #3A3A3A;
  box-shadow: .5px .5px 10px 10px #5B5B5B;
}

.remainingBudget {
  position:absolute;
  height: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 320px;
  margin-right: 65px;
  margin-top: -20px;
  border: 1px solid #ccc;
  background-color: #1A535C;
  border-style: solid;
  border-color: #3A3A3A;
  box-shadow: .5px .5px 10px 10px #5B5B5B;
}

.profile {
  margin-right: 50px;
  margin-top: 200px;
  padding-left: 60px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 50px;
  border: 1px solid #ccc;
  width: 500px;
  height: -300;
  background-color: #1A535C;
  border-style: solid;
  border-color: #3A3A3A;
  box-shadow: .5px .5px 10px 10px #5B5B5B;
}

.login {
  margin-right: 50px;
  margin-left: 700px;
  margin-top: 200px;
  padding-left: 60px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 50px;
  border: 1px solid #ccc;
  width: 600px;
  height: -300;
  background-color: #1A535C;
  border-style: solid;
  border-color: #3A3A3A;
  box-shadow: .5px .5px 10px 10px #5B5B5B;
}

.signup {
  margin-right: 50px;
  margin-left: 100px;
  margin-top: 200px;
  padding-left: 60px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 50px;
  border: 1px solid #ccc;
  width: 600px;
  height: -300;
  background-color: #1A535C;
  border-style: solid;
  border-color: #3A3A3A;
  box-shadow: .5px .5px 10px 10px #5B5B5B;
}

.dropdown{
  height: 20px;
  margin-top: 9px
}

.modalImg {
  position: relative;
  float: left;
  width: 300px;
  height: 200px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
  object-fit: scale-down;
  overflow-y: hidden;
}

.finalNote{
  overflow-y: scroll;
}

.modalDetail {
  position: relative;
  float: left;
  width: 300px;
  height: 200px;
  margin-left: 10px;
  margin-right: 10px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
  object-fit: scale-down;
  overflow-y: hidden;
}

.modalPicContainer{
  margin-top: 30px;
  margin-right: 75px;
  margin-bottom: 30px;
  margin-left: -50px;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 10px;
  width: 1000px;
}

.modalButton {
  margin-top: 10px;
  height: 200px;
}

.textLead {
  text-shadow: -1px -1px 0 #001,
    1px -1px 0 #001,
    -1px 1px 0 #001,
    1px 1px 0 #001;
  text-decoration: underline;
  color: #9EA3B0;
}

.underline {
  text-decoration: underline;

}

.headSummary {
  margin-top: 12px;
}

.inverseText {
  color: black
}

.black {
  color: black
}

.blue {
  color: #3B6C7B
}
